/* App.css */
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
background: #131CBE;
background: linear-gradient(135deg, #131CBE, #CE34B6);
}

.game-board {
  border: 2px solid #333;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  width: 64px;
  text-align: center;
  border: 2px solid #999;
  cursor: pointer;
}

.game-info {
  margin-top: 20px;
  font-size: 24px;
  margin-left: 20px;
  color: whitesmoke ;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
